BODY {
    background: honeydew;
    }
  DIV {
    position: relative;
    height: 2.4em;
    margin: 1em 1em;
    padding: .2em;
    border  : 1px solid #F23E2E;
    border-radius: 100px;
    font-size: 1.2em;
    }
  
  DIV:before {
    content: 'здесь могла быть ваша реклама';
    display: inline-block;
    position: absolute;
    left: .2em;
    height: 2em;
    width: 20em;
    padding: .2em;
    background:  linear-gradient(225deg,
    #1BF2DD ,
    #F2EA7E , 
    #F2BA52 ,
    #F2994B ,
    #F23E2E 
    );
    border-radius: 100px;
    animation: timing 20s infinite;
    line-height: 2em;
    text-shadow: .03em .03em teal;
    text-align: center;
    text-transform: capitalize;
    color:black;
    }
  
  @keyframes timing {
    50%{
      left: 100%;
      margin-left: -20.6em;
    }
  }
  
  .linear:before {
    animation-timing-function: linear;
    }