p {
    color:red;
    padding-left: 10%;
    padding-right: 10%;
}

.myclass {
    text-align: center;
    border: 2px dashed blue;
    background-color:#40E0D0;
    color: blueviolet;
    font-family: fantasy;
    font-size: 90px;
}

.img {
  border: 2px dashed blue;
    background-color: #40E0D0;
    color: blueviolet;
}

h1 {
    margin-bottom: -3%;
}

h3 {
    opacity: 0.5;
}

ul {
    padding: 0;
    width: 100%;
  }
  
  li {
    display: inline;
    
  }
  
  a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 19.5%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: black;
  }
  
  li:last-child a {
    margin-right: 0;
  }
  
  a:link, a:visited, a:focus {
    background:  linear-gradient(225deg,
    #1BF2DD ,
    #F2EA7E , 
    #F2BA52 ,
    #F2994B ,
    #F23E2E 
    );
  }

  .err { 
    color: red;
  }

